body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: transparent;
}

.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* 기존 스타일 유지 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    z-index: 1;
}


.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');

h2 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 26px;
    margin-bottom: 25px;
    color: #333;
    font-weight: 400; /* 이 폰트는 기본적으로 굵은 스타일 */
}
